<div class="container">
  <h1>Services</h1>
  <hr>
    <!-- <app-greeting></app-greeting> -->
  <!-- <app-cmplifecycle></app-cmplifecycle> -->
  <div>
    <!-- <h2>Async Services</h2> -->
    <!-- <app-callbackpattern></app-callbackpattern> -->
    <!-- <app-promisespattern></app-promisespattern> -->
  </div>
<div>
     <!-- <h1>Rxjs- Concepts</h1> -->
     <!-- <app-observable></app-observable>
     <app-ofobservable></app-ofobservable>
     <app-fromobservable></app-fromobservable> -->
     <!-- <app-dataprocessing></app-dataprocessing> -->
     <!-- <app-errorhandling></app-errorhandling> -->
     <!-- <app-cstreamsub1></app-cstreamsub1>
     <app-cstreamsub2></app-cstreamsub2> -->
     <!-- <app-hotstreamsub1></app-hotstreamsub1>
     <app-hotstreamsub2></app-hotstreamsub2> -->
    <!-- <app-subjectone></app-subjectone>
    <app-subjecttwo></app-subjecttwo> -->
</div>
<div>
  <h1>HTTP Programming</h1>
  <app-user></app-user>
</div>
  
</div>